@rendermode InteractiveServer
@page "/logout"
@inject ProtectedLocalStorage Storage
@inject AuthService Auth
@inject NavigationManager Navigation

<h3>Logging out...</h3>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Storage.DeleteAsync("authToken");
            await Auth.InitializeAsync(null);
            Navigation.NavigateTo("/", true);
        }
    }
}